<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
    <div class="summary">
        <p>I'am passionate about web technologies. I try to write good quality code. I like to write tests. TDD is great thing. I complain when I see inpure functions. I favor `const` over `let` over `var`. I don't like messy styles (BEM can help you). I hate linter warnings and not formatted code. No code review no merge. Small commit is a good commit.  In the past I had true SCRUM, so I like well-defined requirements, subtasking and task estimation. I don't keep silent about the problems. I like to learn new things.</p>
    </div>
    <!--//summary-->
</section>
<!--//section-->
