<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
    <div class="summary">
        <p>I'm passionate about web technologies. I try to write the best quality code possible. I do it by using TDD approach, complaining and improving impure functions and fixing messy styles with BEM, which can always help you!
        I favour `const` over `let` over `var`, I hate linter warnings and not formatted code. No code review no merge. And remember - small commit is a good commit.
        I have had experienced true SCRUM previously and I think, this is one of the best way to manage an IT project. I like a well-defined requirements, sub tasking and task estimation.
        I will always tell you about the problems and try to fix it with you. I like to learn new things.</p>
    </div>
    <!--//summary-->
</section>
<!--//section-->
