<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Front-End Developer</h3>
                            <div class="time">Nov 2014 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Apptension Media, Poznan, Poland</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">JavaScript Developer</h3>
                            <div class="time">Aug 2014 - Oct 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">UsabilityTools, Poznan Poland</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Junior JavaScript Developer</h3>
                            <div class="time">Oct 2013 - Jul 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Attensee, Poznan, Poland</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>
                    </div><!--//details-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Intern</h3>
                            <div class="time">Jul 2013 - Sep 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Cogision, Poznan, Poland</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>
                    </div><!--//details-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Intern</h3>
                            <div class="time">Apr 2013 - Jun 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">UsabilityTools, Poznan, Poland</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->