<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="item">
        <span class="project-title"><a href="http://www.tresil.io/" target="_blank">Tresilio</a></span> - <span class="project-tagline">The application helps improve mental health. Integration with Fitbit, adaptive survey and recommendation system.</span>
        <span class="project-tagline"><i>Used technologies:</i> Javascript/ES2015, ImmutableJS, React, Redux, Material-UI, Pusher, Sass, BEM, SVG, Fabric.js/Canvas, D3.js, GSAP, Webpack, Mocha, Chai, Sinon, Enzyme.</span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="http://slideworx.com/en/products" target="_blank">Data visualization tool</a></span> - Report system with advanced and interactive data visualizations. The tool also has the ability to export data visualizations to Power Point.<span class="project-tagline"></span>
        <span class="project-tagline"><i>Used technologies:</i> Javascript/ES2015, Sass, SVG, D3.js, Ramda, Karma, Jasmine.</span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="http://www.transpak.pl/en" target="_blank">Transpak</a>, <a href="http://speedupgroup.com/en/" target="_blank">Speedup Group</a></span> - <span class="project-tagline">A responsive websites to help companies promote, market and sell their products.</span>
        <span class="project-tagline"><i>Used technologies:</i> AngularJS 1.x, Sass, Videojs, GSAP, Gulp, Bower.</span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="http://usabilitytools.com/visitor-behavior-session-replay-software/" target="_blank">Session recording player</a></span> - <span class="project-tagline">Web application for analizing gathered data. Part of UsabilityTools suite.</span>
        <span class="project-tagline"><i>Used technologies:</i> AngularJS 1.x, Bootstrap, Sass, Grunt, Bower, REST, Karma, Jasmine.</span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="http://www.attensee.com/" target="_blank">Attensee</a></span> - <span class="project-tagline">Web based online eye tracking alternative. Measure the effectiveness of your design and discover new ways to improve it.</span>
        <span class="project-tagline"><i>Used technologies:</i> AngularJS 1.x, Semantic-UI, Less, Canvas, Grunt, REST.</span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="http://memosort.com/" target="_blank">Memosort</a></span> - <span class="project-tagline">An online tool for remote brainstorming and affinity diagraming in real time.</span>
        <span class="project-tagline"><i>Used technologies:</i> jQuery, Flot, RequireJS, CSS, Node.js, Socket.io, PhantomJS, Karma, Jasmine, REST.</span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="http://usabilitytools.com/voice-of-customer/" target="_blank">Feedback Form</a></span> -
        <span class="project-tagline">Web tool used for embedding feedback form on a website, gathering and analyzing data from it. Part of UsabilityTools suite.</span>
        <span class="project-tagline"><i>Used technologies:</i> jQuery, RequireJS, CSS.</span>
    </div><!--//item-->
</section><!--//section-->