<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>

    <h3 class="skills-section__header">Base web technologies</h3>
    <div class="skillset">
        <div class="item">
            <h3 class="level-title">Javascript/ES2015</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">HTML5</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="95%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">CSS</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">SVG</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="75%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <h3 class="skills-section__header">Frameworks / Libraries / Testing</h3>
        <div class="item">
            <h3 class="level-title">D3.js</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">React</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="95%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">React Native</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="30%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">Redux</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="100%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">AngularJS 1.x</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">Mocha/Chai/Sinon</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="100%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <h3 class="skills-section__header">Styling methodology / CSS Preprocessors</h3>
        <div class="item">
            <h3 class="level-title">Sass, Less</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="85%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">BEM</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="85%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <h3 class="skills-section__header">Task runners / Module bundlers</h3>
        <div class="item">
            <h3 class="level-title">Gulp/Grunt</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">Webpack</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->


        <h3 class="skills-section__header">Other tools I use and I know</h3>
        <div class="item">
            <h3 class="level-title">Trello/Jira</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="100%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">Git/Bitbucket/GitHub</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">Photoshop</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="60%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <h3 class="skills-section__header">Preffered way of project management</h3>
        <div class="item">
            <h3 class="level-title">Agile Methodologies</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="95%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
    </div>
</section>
<!--//skills-section-->
